# Clerk
CLERK_SECRET_KEY=

# MongoDB
MONGODB_URI=mongodb://endpointer_query:change_this_password@localhost:27017/endpointer_query

# PostgreSQL (usage)
DATABASE_URL=postgresql://endpointer_api:change_this_password@localhost:5433/endpointer_api

# NATS
NATS_URL=nats://localhost:4222

# App
PORT=3001